.body {
 
    font-family: fantasy;
    background-color: rgb(149, 198, 243);
    font-size: 1cm;
    text-decoration: blue overline;
    text-decoration-color: #FFA500;
    text-shadow: -0mm 5mm 1mm rgb(241, 241, 241);
    color: rgb(21, 253, 0);
    margin: 2cm;
    align-self: center;



}
.border{
    border: 1mm 1mm aquamarine
}
.titulo{font-size-adjust: inherit;
    text-align: center;
    color: black

}
.imagem-fundo {
    background-image:
        url(/Users/alunotarde/Desktop/2.jpg);
    background-repeat: no-repeat;
    background-position-x: center
}

.imagem-fundo2 {
    background-image:
        url(/Users/alunotarde/Desktop/img.ico);
    background-repeat: cover;
    background-position: center;
    background-size: contain
}


.estilo1 {
    font-style: oblique;
    font-variant-caps: all-petite-caps;
    color: black;
    border: 5mm solid burlywood;
    width: 25%;
    margin: auto;
    font-style: italic;
    font-size: 100%;
    text-align: center;
    text-shadow: 0cm 1mm 1mm yellow;
}

.estilo2 { border: 5mm solid green;
    text-align:center;
    color: black;
    align-content: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}

.centrado {
    text-align: center
}